.box-wrap {
  border: 1px solid #E8ECEE;
  border-radius: 10px;
}

.inspection {
  position: relative;
  height: 270px;
  background: linear-gradient(108deg, #DBEEFF 1%, #FFFFFF 53%), linear-gradient(111deg, #E2F0FF 16%, #FFFFFF 49%);;
  padding: 20px;
  display: flex;
  flex: 1;
  flex-shrink: 0;

  .bg-wrap {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    .ability-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      width: 405px;
    }

    .ability-content-wrap {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .ability-content {
        position: relative;
        z-index: 1;
        color: #475F7D;
        margin-left: -3px;

        .content-top {
          font-size: 12px;
          text-align: center;

          .ability-big-text {
            font-size: 36px;
            font-weight: bold;
            color: #33363B;
            margin-right: 5px;
          }
        }

        .content-bottom {
          font-size: 14px;
          padding-left: 7px;
        }
      }
    }
  }

  .inspection-ability {
    width: 50%;
    
    .ability-title {
      font-weight: bold;
      font-size: 14px;
    }
  }

  .last-inspection-res {
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    .inspection-head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      flex-shrink: 0;

      .inspection-title {
        font-weight: bold;
        font-size: 14px;
      }

      .inspection-time {
        font-size: 12px;
        color: #A3AFBE;
      }
    }

    .inspection-grid-wrap {
      display: grid;
      gap: 10px;  
      width: 100%;
      flex: 1;
      flex-wrap: wrap;
      grid-template-columns: 50% 50%;

      .inspection-grid {
        padding: 16px 15px 8px;
        border-radius: 8px;

        .head {
          display: flex;
          align-items: center;
          margin-bottom: 3px;
          
          .grid-icon-bg {
            width: 28px;
            height: 28px;
            margin-right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;

            .icon {
              width: 14px;   
            }
          }

          .text {
            font-size: 12px;
            font-weight: bold;
          }
        }

        &.fault {
          background: #FFF6F1;

          .text {
            color: #F45D4C;
          }

          .grid-icon-bg {
            background: linear-gradient(46deg, #FF9B5D 18%, #FF2525 100%);
            box-shadow: 0px 4px 12px -4px #E2AD74;
          }
        }

        &.error {
          background: #FFF1F1;

          .text {
            color: #F45D4C;
          }

          .grid-icon-bg {
            background: linear-gradient(46deg, #FF9999 18%, #FF2525 100%);  
            box-shadow: 0px 4px 12px -4px #FFB3B3;
          }
        }

        &.warn {
          background: #FFFAF1;

          .text {
            color: #F47B30;
          }

          .grid-icon-bg {
            background: linear-gradient(46deg, #FFAB5D 18%, #FF7925 100%);
            box-shadow: 0px 4px 12px -4px #E2AD74;
          }
        }

        &.normal {
          background: #F0F7FF;

          .text {
            color: #336DFF;
          }

          .grid-icon-bg {
            background: linear-gradient(46deg, #58A9FF 18%, #336DFF 100%);
            box-shadow: 0px 4px 12px -4px #B3D3FF;
          }
        }

        .bottom {
          font-size: 20px;
          font-weight: bold;
          color: #33363B;
          text-align: right;
        }
      }
    }
  }
}